<ion-card>
  <ion-card-header>

    <ion-card-subtitle>
      <span>{{ indice + 1 }}. </span>
      <span>{{ noticia.source.name }}</span>
    </ion-card-subtitle>

    <ion-card-title (click)="abrirNoticia()">{{ noticia.title }}</ion-card-title>

    <div class="noticias-more">
      <ion-button (click)="mostrarOpcion()" fill="clear" class="notice">
        <ion-icon slot="icon-only" name="ellipsis-vertical-outline"></ion-icon>
      </ion-button>
    </div>

  </ion-card-header>
  <ion-img [src]="noticia.urlToImage"
            *ngIf="noticia.urlToImage"
            (click)="abrirNoticia()"></ion-img>
  <ion-card-content>

  </ion-card-content>

</ion-card>
