<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Principal
    </ion-title>
  </ion-toolbar>
  
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Noticias</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-noticias [noticias]="noticias"></app-noticias>
  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Cargando nuevas noticias...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
